<script type="text/javascript">
    function loadArticles(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("article_list").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "/articles/list", true);
        xhttp.send();
        document.getElementById("article_list").innerHTML = xhttp.responseText;
    }
</script>

<h1>Listing articles</h1>
<%= link_to 'New article', new_article_path %>

<div id="article_list"></div>
<button onclick="loadArticles()">Load Article</button>


